{% extends 'base.html' %} 

{% block title %}
  reset password
{% endblock title %}



{% block content %}

<section id="reset">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Welcome to the Password Reset Page</div>
                    <div class="card-body">
                        <p class="lead">
                            Forgot your password? Please enter the email address you used to register
                               with us and we will send you a link to reset your password
 
                        </p>
                        <form action="" method="POST" class="text-center">
                          {% csrf_token %}
                          {{form}}
                          <div class="d-flex text-center">
                              <button type="submit" class="btn btn-dark"> send<button>
                            <a href="{% url 'index' %}" class="btn btn-success">Return to home page</a>
                          </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}



